.container {
  max-width: 300px;
  margin: 100px auto;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
