.page-wrapper {
  height: 100vh; /* 전체 화면 높이 */
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
}

.excel-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.example-link {
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  font-size: 14px;
  color: #333;
}

.upload-box {
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-label {
  cursor: pointer;
  color: #666;
  font-size: 16px;
}

.file-name {
  margin-left: 10px;
  flex-grow: 1;
  color: #333;
}

.upload-button {
  padding: 6px 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.excel-container img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
